# Ignore everything
*

# But allow these specific files and folders
!.gitignore
!exports/
!exports/**
!data/
!data/**
!app.js
!Field_10.geojson
!Field_11.geojson
!Field_12_and_13.geojson
!index.html
!package.json
!package-lock.json
!preprocess-data-template.js
